.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  font-size: 90px;
  text-align: center;
}

.board {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  position: fixed;
  top: 7%;
  left: 40%;

}

.row {
  width: 100%;
  height: 33.33%;
  display: flex;
}

.game {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto
  
}

.status {
  width: fit-content;
  padding-top: 10px;
  position: fixed;
  bottom: 43%;
  left: 46%
}

.msg{
  width: fit-content;
  position: fixed;
  left: 44%;
  

}
body {
  height: 50%;
  width: 50%;
}
